.home-section {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 0px 7.5%;

  & .title {
    font-size: 5.2rem;
    font-weight: bolder;
    padding-top: 3rem;
  }

  & .hero-image-container {
    width: 500px;
    height: auto;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      padding-top: 3rem;
    }
  }
}
