body#dashboard {
  background: var(--body-bg);

  main {
    padding: 8% 3% 3% 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 1fr;
    gap: 10px;
    min-height: 100vh;

    section {
      background: var(--form-bg);
      border: var(--default-border);
      padding: 20px;
      border-radius: 10px;
      color: white;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;

      &.count-section {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        gap: 2rem;

        .count-section {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #2d2d2d;
          padding: 20px;
          border-radius: 10px;
          color: white;
        }

        .progress-container {
          position: relative;
          width: 150px;
          height: 150px;
        }

        canvas {
          position: absolute;
          top: 0;
          left: 0;
        }

        .count-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
        }

        .count-text p {
          margin: 0;
          font-size: 16px;
          font-weight: 600;
        }

        .difficulty-stats {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 16px;
        }

        .difficulty-stats p {
          margin: 10px 0;
          text-align: right;
          font-weight: 600;
        }
      }

      &.points-section {
        grid-column: 2;
        grid-row: 1;
        display: grid;
        gap: 0.3rem;
        place-content: center;
        text-align: center;

        & #points {
          font-size: 4rem;
          font-weight: 900;
        }
      }

      &.count-section,
      &.points-section {
        max-height: 290px;
      }

      &.solved-questions-section {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;

        & .solved-questions {
          margin-top: 1rem;
          width: 100%;
          display: grid;
          gap: 0.5rem;

          & :hover {
            background-color: var(--form-bg);
            filter: brightness(2);
          }

          & .solved-question {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: var(--default-border);
            padding: 1rem 1rem;
            border-radius: 5px;
            cursor: pointer;

            & .tags {
              display: flex;
              align-items: center;
              gap: 0.5rem;
            }
          }
        }
      }

      &.profile-section {
        grid-row: span 2;
        grid-column: 3 / 4;

        & .name-photo {

          display: flex;
          flex-direction: column;
          align-items: center;

          & img {
            width: 200px;
            aspect-ratio: 1;
            border-radius: 50%;
            object-fit: cover;
          }

          & .username{
            margin-top: .7rem;
            font-weight: 600;
            font-size: 1.8rem;
          }

          & .email{
            font-size: 1rem;
            color: rgba(255, 255, 255, 0.492);
          }
        }
      }
    }
  }
}

body#home {
  background: var(--body-bg);

  main {
    background: var(--header-bg);
    min-height: 100vh;
    margin: 7% 3% 3% 3%;
    border-radius: 20px;
    border: var(--default-border);

    & .questions-container {
      padding: 3rem 1rem;
      display: grid;
      gap: 1rem;
    }
  }
}
