body#mentor {
  background: var(--body-bg);
}

main {
  display: grid;
  grid-template-columns: 1fr 30%;
  gap: 20px;
  margin: 7% 3%;
}

.question-section {
  background-color: var(--form-bg);
  min-height: 100vh;
  border: var(--default-border);
  border-radius: 20px;
  padding: 2rem;

  & .title-container {

    display: flex;
    justify-content: space-between;
    align-items: center;

    & .title {
      font-weight: 600;
      font-size: 1.7rem;
    }

    & .add-btn-container{
        display: flex;
        align-items: center;
        gap: 1rem;

        & .add-label{
            font-size: 1.2rem;
            font-weight: 600;
        }

        & .add-btn{

            border : var(--default-border);
            padding: .5rem;
            border-radius: 5px;
            cursor: pointer;
            transition: all .3s;
            
            &:hover{
                background-color: rgba(255, 255, 255, 0.300);
            }

            &:active{
                transform: scale(.95);
            }

            & img{
                width: 1.5rem;
                height: 1.5rem;
                filter: invert();
                user-select: none;
            }
        }
    }
  }

  & .questions-container {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
  }
}

.side-section {
  background-color: var(--form-bg);
  max-height: 80vh;
  border: var(--default-border);
  border-radius: 20px;
  position: sticky;
  top: 100px;
}

