body#mentor{
    background: var(--body-bg);
}

main{
    display: grid;
    grid-template-columns: 1fr 30%;
    gap: 20px;
    margin: 7% 3%;
}

.question-section{
    background-color: var(--form-bg);
    min-height: 100vh;
    border: var(--default-border);
    border-radius: 20px;
    padding: 2rem;

    & .title{
        font-weight: 600;
        font-size: 1.7rem;
    }

    & .questions-container{
        margin-top: 2rem;
        display: grid;
        gap: 1rem;
    }
}


.side-section{
    background-color: var(--form-bg);
    max-height: 80vh;
    border: var(--default-border);
    border-radius: 20px;
    position: sticky;
    top: 100px;
}