body#question-page {
  background: var(--body-bg);

  main {
    margin: 8% 3% 3% 3%;
    min-height: 100vh;

    & .question-container{

      & .question-title{
        text-transform: capitalize;
        font-weight: 900;
        font-size: 1.7rem;
      }

      & .question-desc{
        font-weight: 500;
        font-size: 1.2rem;
        color: rgb(255, 255, 255,.5);
        margin-top: .5rem;
      }

      & .question-tags{
        display: flex;
        font-weight: 900;
        font-size: 1rem;
        gap: 1rem;
        margin-top: .5rem;

        & .question-language,
        & .question-points,
        & .question-type{
          padding: .5rem 1rem;
          border-radius: 25px;
        }

        & .question-points{
          background-color: rgb(180, 180, 12);
          
        }

        & .question-language{
          background-color: green;
        }

        & .question-type{
          background-color: blue;
          text-transform: capitalize;
        }
      }

    }
  }
}


#oc-editor{
  margin-top: 1.2rem;
  width: 100%;
  min-height: 60vh;
  
}